<settings>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <id>sonarsource-releases</id>
                    <url>https://repox.sonarsource.com/repository/releases</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>sonarsource-releases</activeProfile>
    </activeProfiles>
</settings>